.about-dropdown {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.about-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}


.about-menu {
  position: absolute;
  /* background: rgb(103, 105, 204); */
  color: #000;

  /* border-radius: 6px; */
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  min-width: 180px;
  z-index: 10000; }


.about-menu.right {
  top: 0;           
  left: 130%;      
  margin-left: 100px;
}

.about-menu a {
  display: block;
  padding: 10px 15px;
  color: #020202;
  text-decoration: none;
}

.about-menu a:hover {
  background-color: #87adff;
}
.about-menu {
  opacity: 0;
  transform: translateX(10px);
  animation: fadeInRight 0.205s forwards ease-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
