.about-hero1 {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(25, 20, 75, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay h1 {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.contact-banner {
  background: linear-gradient(135deg, rgba(33, 26, 98, 0.95), rgba(0, 186, 255, 0.7));
  color: #fff;
  text-align: center;
  padding: 90px 20px;
  font-family: "Poppins", sans-serif;
}

.contact-banner h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
}

.contact-container {
  max-width: 1200px;
  margin: 70px auto;
  padding: 0 25px;
  font-family: "Poppins", sans-serif;
}

.contact-subtitle {
  text-align: center;
  color: #3a2f9f;
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 1rem;
}

.contact-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 50px;
}


.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.contact-left {
  flex: 1;
  min-width: 350px;
}

.contact-block {
  margin-bottom: 40px;
}

.contact-block h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #1c1c1c;
}

.contact-block p {
  font-size: 1rem;
  color: #555;
  line-height: 1.7;
}

.contact-block a {
  color: #2a1b9b;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-block a:hover {
  color: #00baff;
}

.social-icons {
  margin-top: 15px;
}

.social-icons i {
  font-size: 1.3rem;
  color: #3a2f9f;
  margin-right: 12px;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.social-icons i:hover {
  transform: translateY(-3px);
  color: #00baff;
}

.scan {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 15px;
  color: #0a3d62; 
  letter-spacing: 1px;
  text-transform: uppercase;

  animation: fadeIn 0.7s ease-in-out;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.qr-image{
  height: 400px;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.email-btn,
.wa-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.email-btn {
  background-color: #007bff;
}

.wa-btn {
  background-color: #25d366;
}
